*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Royal';
    font-style: normal;
    src: local("Royal"), url(../../src/Royal.ttf) format('truetype');
}

@font-face {
    font-family: 'Faith';
    font-style: normal;
    src: local("Faith"), url(../../src/Faith\ Collapsing.ttf) format('truetype');
}


body{
    overflow-x: hidden;
}

.v-header{
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container{
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen video{
    min-width: 100%;
    min-height: 100%;
}

.fullscreen .second_video{
    display: none;
}

@media (max-width: 700px){
    .fullscreen video{
        position: relative;
        right: 45%;
    }

}

@media (max-width: 420px){
    .fullscreen{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .fullscreen video{
        min-width: 50%;
        min-height: auto;
    }

    .fullscreen video:first-child{
        position: relative;
        right: 25%;
    }

    .fullscreen .second_video{
        position: relative;
        top: -5px;
        right: 38%;
        display: block;
        min-width: 50%;
        min-height: 55vh;
    }
}

.header-content{
    z-index: 2;
}

.header-content h1{ 
    margin-top: 60px;
    font-size: 100px;
    opacity: 0.50;
    font-family: 'Faith'
}

.header-content p{
    font-size: 1.5rem;
    margin-bottom: 280px;
    opacity: 0.40;
}

