//SideDrawer 

.slide-drawer{
    height: 100%;
    position: fixed;
    top: 15%;
    left: 15%;
    width: 170px; 
    z-index: 200;
    transform: translate(-150%);
    transition: transform 0.8s ease-in-out;
  }

  @media(max-width:"690px"){
    .slide-drawer{
      top: 15%;
      left: 5%;
    }
  }
  
  .slide-drawer.open{ 
    transform: translateX(0);
  } 
  
  .slide-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .slide-drawer ul li{
    margin: 8px -5%;
  }
  
  .slide-drawer ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .slide-drawer ul li a:hover,
  .slide-drawer ul li a:active{
    color: orange;
  }

  //BackDrop

  div.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

//Button

//Line Three Buttom
.div_contact{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.t-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.t-button:focus{
    outline: none;
}

.t-button div.t-button-line {
    height: 3px;
    width: 30px; 
    background: rgb(0, 0, 0);
} 