#arrow{
    animation: mymove 2s infinite;
}

.btn{
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.199);
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
  }