//Colors
$color1: rgb(181, 196, 219);
$color2: rgb(40, 49, 63);
$color3: rgb(76, 92, 117);
$color4: #473335;
$color5: rgb(219, 188, 52);

body{
    color: $color1;
    background: $color2;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

div.App{

    min-height: 100vh;
    width: 100%;
}

//0

div.grid-content0{
    height: 130vh;
    width: 100%;
}

div.grid-content0 .content{
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
}



@media(max-width: 660px){
    div.grid-content0 .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.grid-content0{
        height: 100%;
    }
    div.grid-content0 .content{
        margin-top: 10px;
    }

}

@media(max-height: 420px){
    div.grid-content0{
        height: 100%;
    }
}


div.grid-content0 .title{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.grid-content0 .title h1{
    font-family: 'Atifa';
    color: $color5;
}


//01

div.content01{
    height: 100%;
    width: 100%;
    background: rgba(5, 5, 5, 0.774);
}

div.content01 .title{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.content01 .title h1{
    font-family: 'Atifa';
    color: $color5
}

div.contet01 p{
    font-size: calc(10px + 2vmin);
}

div.content01 .text-grid{
    display: grid;
    grid-template-columns: 1fr 2.5fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

@media (max-width:500px){
    div.content01 .text-grid{
        grid-template-rows: 1fr 1fr 0.5fr;
    }
}

div.content01 .text-grid .text_grid_1{
    grid-row: 2;
    grid-column: 3/5; 
}

div.content01 .text-grid .hr1{
    margin-top: -50px;
}


div.content01 .text-grid .text_grid_2{
    grid-row: 3;
    grid-column: 2; 
}

@media (max-width:500px){
    div.content01 .text-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 90%;
    }

    div.content01 .text-grid p{
            margin-bottom: 30px;
            text-align: center;
    }

    div.content01 .text-grid hr{
        display: none;
    }

}


//02

div.content02{
    height: 100%;
    width: 100%;
    background: rgba(5, 5, 5, 0.404);
}

div.content02 .title{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.content02 .title h1{
    font-family: 'Atifa';
    color: $color5
}

div.content02 .gallery{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

//03

div.content03{
    height: 50vh;
    width: 100%;
    background-image: url(../src/src/ffbaliga.jpg);
    background-size: 18%;
    background-position-x: center;
}


div.content03 .title{
    min-width: 350px;
    height: auto;
    border: 1px white solid;
    border-radius: 50px;
    transition: all 1s;
    background: rgb(0, 0, 0);
}
div.content03 .title:hover{
    background: rgba(44, 53, 68, 0.486);
}

div.content03 .title h1{
    font-family: 'Atifa';
    color: $color5;
}






